html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 1.7rem;
  background: no-repeat linear-gradient(250deg,#007cf8, #021944);
}
.quiz-container {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px white;
  padding: 3rem;
  text-shadow: 0 1px #00000010;
  width: 60%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(360deg, transparent, #ffffff);
  min-height: 100vh;
}
.title {
  margin-top: 0;
  margin-bottom: 3rem;
  color: #00000050;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #394867;
  position: relative;
  width: 100%;
height: 70px;
}
.energy-fill {
  width: 0;
  height: 100%;
  background-color: #9BA4B5;
}
.energy-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: black;
  /*border-bottom: 4px solid #5158bd;*/
  
}
.question {
  margin: 2rem 0;
  font-size: 1.5rem;
}
.option {
  padding: 1rem;
  color: #00000095;
  background: rgba(255, 255, 255, 0.1);
  width: 80%;
  border-radius: 5px;
  transition: all 0.3s;
}
.option:hover {
  background: rgba(255, 255, 255, 0.4);
}
.option input:checked .option {
  background: #08038c;
  color: #000;
}
.controls > * {
  margin: 1rem;
}
button {
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-weight: 300;
  color: white;
  outline: none;
  transform: scale(0.98);
  transition: all 0.2s;
}
button.previous {
  background: #c84630;
}
button.next {
  background: #3c91e6;
}
button.restart {
  background: #0cf574;
  color: #00000050;
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: all 0.4s;
}
button.restart:hover {
  color: #00000098;
}
button:hover,
button:focus {
  transform: scale(1);
  font-weight: 500;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.result {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  min-height: 100vh;
}
.final-score {
  color: #00000099;
}
.summary {
  font-size: 1rem;
  text-shadow: 1px 1px #ffffff50;
  color: #00000099;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.summary h1 {
  align-self: center;
}
.phatnhac {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.phatnhac audio {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

.phatnhac audio::-webkit-media-controls-panel {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 5px;
}

.phatnhac audio::-webkit-media-controls-play-button,
.phatnhac audio::-webkit-media-controls-pause-button {
  background-color: #982e4b;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}

.phatnhac audio::-webkit-media-controls-timeline {
  height: 5px;
  background-color: #000;
  border-radius: 5px;
}

.phatnhac audio::-webkit-media-controls-current-time-display,
.phatnhac audio::-webkit-media-controls-time-remaining-display {
  font-size: 12px;
  color: #000;
}

.phatnhac audio::-webkit-media-controls-mute-button,
.phatnhac audio::-webkit-media-controls-volume-slider,
.phatnhac audio::-webkit-media-controls-volume-slider-container {
  display: none;
}
